body {
  background-image: url(../images/skulls.png);
  background-repeat: repeat;
}

#actual-header {
  margin: 0;
  padding: 20px;
  font-size: 45px;
  color: #669999;
  text-align: center;
}

.container {
  background-color: #ffffff99;
  width: 100%;
  height: auto;
  border: solid thin #dddddd;
  margin-top: 1%;
  align-self: stretch;
  padding: 1%;
  text-align: center;
  margin-bottom: 1%;
}

#flexwrapper {
  display: flex;
  justify-content: center;
}

.p-increase-font {
  font-size: 20px;
}

#centered-h1 {
  text-align: center;
}

/* not using at the moment */
@media screen and (min-width: 800px) {
  #hidden3 {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  #hidden3 {
    display: block;
  }
}
